# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env
*.env

config/*

# Log files
logs/*.log
*.log

# IDE specific files
.vscode/
.idea/

# Dependency directories
venv/
.venv/
env/
.env/

# Telegram session files
*.session
*.session-journal

telegram_reader*